<p id="notice"><%= notice %></p>

<p>
  <strong>Especialidade:</strong>
  <%= @dm_medico.especialidade %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @dm_medico.nome %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @dm_medico.endereco %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @dm_medico.bairro %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @dm_medico.cep %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @dm_medico.cidade %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @dm_medico.estado %>
</p>

<p>
  <strong>Crm:</strong>
  <%= @dm_medico.crm %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @dm_medico.telefone %>
</p>

<p>
  <strong>Logotipo:</strong>
  <%= @dm_medico.logotipo %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @dm_medico.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @dm_medico.longitude %>
</p>

<p>
  <strong>Inicio atendimento:</strong>
  <%= @dm_medico.inicio_atendimento %>
</p>

<p>
  <strong>Terminio:</strong>
  <%= @dm_medico.terminio %>
</p>

<%= link_to 'Edit', edit_dm_medico_path(@dm_medico) %> |
<%= link_to 'Back', dm_medicos_path %>
