%h1 DoctorMaps
.form_search
  = form_tag '/rotas' do
    = field_set_tag do
      = text_field_tag :objetos
      = select_tag :select_espec, options_for_select([['Especialidade','A'],['','B']])
      = select_tag :select_plano, options_for_select([['Plano de Saúde','A'],['','B']])
      = submit_tag 'Buscar'