<p id="notice"><%= notice %></p>

<p>
  <strong>Especialidade:</strong>
  <%= @dm_clinica.especialidade %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @dm_clinica.nome %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @dm_clinica.endereco %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @dm_clinica.bairro %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @dm_clinica.cep %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @dm_clinica.cidade %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @dm_clinica.estado %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @dm_clinica.telefone %>
</p>

<p>
  <strong>Logotipo:</strong>
  <%= @dm_clinica.logotipo %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @dm_clinica.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @dm_clinica.longitude %>
</p>

<p>
  <strong>Inicio atendimento:</strong>
  <%= @dm_clinica.inicio_atendimento %>
</p>

<p>
  <strong>Terminio:</strong>
  <%= @dm_clinica.terminio %>
</p>

<%= link_to 'Edit', edit_dm_clinica_path(@dm_clinica) %> |
<%= link_to 'Back', dm_clinicas_path %>
