<p id="notice"><%= notice %></p>

<p>
  <strong>Especialidade:</strong>
  <%= @dm_dentistum.especialidade %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @dm_dentistum.nome %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @dm_dentistum.endereco %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @dm_dentistum.bairro %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @dm_dentistum.cep %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @dm_dentistum.cidade %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @dm_dentistum.estado %>
</p>

<p>
  <strong>Cro:</strong>
  <%= @dm_dentistum.cro %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @dm_dentistum.telefone %>
</p>

<p>
  <strong>Logotipo:</strong>
  <%= @dm_dentistum.logotipo %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @dm_dentistum.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @dm_dentistum.longitude %>
</p>

<p>
  <strong>Inicio atendimento:</strong>
  <%= @dm_dentistum.inicio_atendimento %>
</p>

<p>
  <strong>Terminio:</strong>
  <%= @dm_dentistum.terminio %>
</p>

<%= link_to 'Edit', edit_dm_dentistum_path(@dm_dentistum) %> |
<%= link_to 'Back', dm_dentista_path %>
