<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @dm_planosaude.nome %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @dm_planosaude.tipo %>
</p>

<%= link_to 'Edit', edit_dm_planosaude_path(@dm_planosaude) %> |
<%= link_to 'Back', dm_planosaudes_path %>
